

<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<!-- this button and spans serves as the mobile menu on small screens. -->
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Westman Alers</a>
		</div>
		<div id="navbar1" class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Login</a></li>
				<li><a href="#about">Register</a></li>
				<li><a href="ContactUs">Contact Us</a></li>
			</ul>
		</div><!--/.nav-collapse -->
		<div id="navbar2" class="">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#about">Recipes</a></li>
				<li><a href="#contact">Buy and Sell</a></li>
				<li><a href="#">Member Posts</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>