@{
    PageTitle = "Home Page";
	
}


<div id="news">
	<h1>Latest News</h1>
	<p class="lead">Next meeting is on [date]</p>
</div>

<div id="popular">
	<h2>Popular post</h2>
	<p class="lead">This is something about beer.</p>
</div>

