
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    PageTitle = LocalizedStringKeys.ContactTitle;
}

<article>
    <header>
        <hgroup>
            <h1>The Westman Alers</h1>
        </hgroup>
    </header>
    <section>
        <h2>Who We Are</h2>
        <p>Description of the club, its activities and goals go here.</p>
    </section>
    <section>
        <h2>How To Contact Us</h2>
        <p>Email address goes here.</p>
    </section>
</article>



